In [1]:
#Import appropriate libraries
import pandas as pd
import scipy.stats as st

In [8]:
#Import CSV file as a dataframe object
df = pd.read_csv('eps_forecast.csv')

In [9]:
#View dataframe object
df

,cusip,cname,year,andate,meanest,eps,lasteps,sales,price,bigfirm
0,30710,AAC HOLDINGS,2015,2/23/16,0.64,0.9700,0.4500,212.261,29.77,0
1,30710,AAC HOLDG,2016,2/27/17,0.95,0.7100,0.9700,279.770,16.99,0
2,30710,AAC HOLDG,2017,2/21/18,0.54,0.6000,0.7100,317.641,8.90,0
3,30710,AAC HOLDG,2018,4/16/19,0.74,-1.0600,0.6000,301.763,12.04,0
4,36020,AAON,2002,2/12/03,0.23,0.2094,0.2054,155.075,2.75,0
...,...,...,...,...,...,...,...,...,...,...
56147,Y9369110,VERIGY,2009,11/19/09,-1.09,-1.4900,1.1900,323.000,11.18,0
56148,Y9384M10,VTTI ENERGY,2015,2/9/16,0.86,0.4530,1.0700,289.700,23.96,0
56149,Y9384M10,VTTI ENERGY,2016,2/7/17,1.06,0.6000,0.4530,311.300,16.33,0
56150,Y9530810,WAVE LIFE,2017,3/12/18,-3.17,-3.8500,-2.4300,3.704,27.00,0
56151,Y9530810,WAVE LIFE,2018,3/1/19,-3.62,-5.0600,-3.8500,14.414,42.30,0

In [15]:
#Instantiate analyst variable for accuracy measure which is the difference between the 
#analyst prediction and the actual eps
analyst = abs(df['meanest'] - df['eps']) / df['price']

In [16]:
#Review analyst 
analyst

0        0.011085
1        0.014126
2        0.006742
3        0.149502
4        0.007491
           ...
56147    0.035778
56148    0.016987
56149    0.028169
56150    0.025185
56151    0.034043
Length: 56152, dtype: float64

In [19]:
#Instantiate analystMean variable
analystMean = analyst.mean()

In [21]:
#Perform test to see if results are statistically different from zero, which they are since the p value is <.05
st.ttest_1samp(analyst, 0)

Ttest_1sampResult(statistic=35.252880749353324, pvalue=2.748292102587151e-269)

In [26]:
#Instantiate timeSeries variable for accuracy measure which is the last years eps minus the actual eps.
timeSeries = abs(df['lasteps'] - df['eps']) / df['price']

In [27]:
#Review timeSeries variable
timeSeries

0        0.017467
1        0.015303
2        0.012360
3        0.137874
4        0.001455
           ...
56147    0.239714
56148    0.025751
56149    0.009002
56150    0.052593
56151    0.028605
Length: 56152, dtype: float64

In [28]:
#Instantiate timeSeriesMean variable
timeSeriesMean = timeSeries.mean()

In [29]:
#show result
timeSeriesMean

0.057447086818482936

In [30]:
#Perform test to see if results are statistically different from zero, which they are since the p value is <.05
st.ttest_1samp(timeSeries, 0)

Ttest_1sampResult(statistic=32.1064354248669, pvalue=3.875213907398835e-224)

In [33]:
#create a variable that is the difference between the previous two measures
difference = analyst - timeSeries

In [34]:
#output result
difference

0       -0.006382
1       -0.001177
2       -0.005618
3        0.011628
4        0.006036
           ...
56147   -0.203936
56148   -0.008765
56149    0.019167
56150   -0.027407
56151    0.005437
Length: 56152, dtype: float64

In [36]:
#find the mean of the variable
differenceMean = difference.mean()

In [37]:
differenceMean

-0.0184496737629759

In [38]:
#Perform test to see if results are statistically different from zero, which they are since the p value is <.05
st.ttest_1samp(difference, 0)

Ttest_1sampResult(statistic=-14.232494530721254, pvalue=6.9227447534428155e-46)